h1{
    margin-left: 40%;
}
button{
    border: none;
    background-color: rgba(255, 174, 0, 0.838);
    border-radius: 4px;
    height: 30px;
    margin: 3px;
    cursor: pointer;
}

table{
    margin-top: 50px;
    margin-left: 30%;
}
.ip{
    margin-left: 33%;
}